<div class="Dashboard_Section">
  <div class="side-heading">
    <h3>புள்ளிவிவரங்கள்</h3>
  </div>
  <div class="row">
      <div class="col-xl-4 col-lg-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="media align-items-stretch">
                <div class="p-2 text-center bg-primary bg-darken-2">
                  <i class="fa fa-user white"></i>
                </div>
                <div class="p-2 bg-gradient-x-primary white media-body">
                  <h5>மொத்த உறுப்பினர்கள்</h5>
                  <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 28</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="media align-items-stretch">
                  <div class="p-2 text-center bg-danger bg-darken-2">
                    <i class="fa fa-user white"></i>
                  </div>
                  <div class="p-2 bg-gradient-x-danger white media-body">
                    <h5>நிகழ்வுகள்</h5>
                    <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 28</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>        
          <div class="col-xl-4 col-lg-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-warning bg-darken-2">
                      <i class="fa fa-bar-chart white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-warning white media-body">
                      <h5>புகார்கள்</h5>
                      <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 28</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  </div>      
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="media align-items-stretch">
              <div class="p-2 text-center bg-yellow">
                <i class="fa fa-user white"></i>
              </div>
              <div class="p-2 bg-gradient-x-yellow white media-body">
                <h5>கிளைகள் எண்ணிக்கை</h5>
                <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 28</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="media align-items-stretch">
                <div class="p-2 text-center bg-success bg-darken-2">
                  <i class="fa fa-user white"></i>
                </div>
                <div class="p-2 bg-gradient-x-success white media-body">
                  <h5>மொத்த மாவட்டங்கள்</h5>
                  <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 28</h5>
                </div>
              </div>
            </div>
          </div>
        </div>        
        <div class="col-xl-4 col-lg-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="media align-items-stretch">
                  <div class="p-2 text-center bg-gradient bg-darken-2">
                    <i class="fa fa-bar-chart white"></i>
                  </div>
                  <div class="p-2 bg-gradient-x-info white media-body">
                    <h5>மொத்த குடிமக்கள்</h5>
                    <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 28</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>           
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-12">
        <h3 class="heading-small">புதிய உறுப்பினர் கோரிக்கைகள்</h3>
      <div class="new_memberlist">        
        <a href="#" class="memberlist">
        <div class="memberdetails">
          <div class="col-xl-7 userimg">
            <img src="../../../assets/images/user.png" />
            <h6>Member Name</h6>
            <p class="user_date">15.01.2019</p>
          </div>
          <div class="col-xl-5 userinfo">                       
              <p>கணபதி, சேலம்</p>              
          </div>
        </div>
        </a>
        <a href="#">
        <div class="memberdetails">
            <div class="col-xl-7 userimg">
              <img src="../../../assets/images/user.png" />              
              <h6>Member Name</h6>
              <p class="user_date">14.01.2019</p>
            </div>
            <div class="col-xl-5 userinfo">                           
              <p>கணபதி, கோயம்புத்தூர்</p>              
            </div>
          </div>
        </a>
          <a href="#">
          <div class="memberdetails">
              <div class="col-xl-7 userimg">
                <img src="../../../assets/images/user.png" />
                <h6>Member Name</h6>
                <p class="user_date">24.12.2018</p>
              </div>
              <div class="col-xl-5 userinfo">    
                  <p>கணபதி, நாமக்கல்</p>                                    
              </div>
            </div>
          </a>
            <a href="#">
            <div class="memberdetails">
                <div class="col-xl-7 userimg">
                  <img src="../../../assets/images/user.png" />
                  <h6>Member Name</h6>
                  <p class="user_date">08.12.2018</p>
                </div>
                <div class="col-xl-5 userinfo"> 
                    <p>கணபதி, நாமக்கல்</p>                                        
                </div>
            </div>  
          </a>
            <div class="viewmore">
              <a href="#">View More...</a>       
            </div>
      </div>
      
    </div>
    <div class="col-xl-4 col-lg-6 col-12">
      <h3 class="heading-small">நடவடிக்கைகள்</h3>
    <div class="new_memberlist">   
      <a href="#">
        <div class="memberdetails">
          <div class="col-xl-8 userimg">
              <h6>Member Name</h6>
            <p>கணபதி, கோயம்புத்தூர்</p>          
          </div>
          <div class="col-xl-4 userinfo">
            <p>21.01.2019</p>
          </div>
        </div>
      </a>     
      <a href="#">
      <div class="memberdetails">
        <div class="col-xl-8 userimg">
            <h6>Member Name</h6>
          <p>கணபதி, நாமக்கல்</p>          
        </div>
        <div class="col-xl-4 userinfo">
          <p>21.01.2019</p>
        </div>
      </div>
      </a>
      <a href="#">
        <div class="memberdetails">
          <div class="col-xl-8 userimg">
              <h6>Member Name</h6>
            <p>கணபதி, சேலம்</p>          
          </div>
          <div class="col-xl-4 userinfo">
            <p>21.01.2019</p>
          </div>
        </div>
        </a>
        <a href="#">
          <div class="memberdetails">
            <div class="col-xl-8 userimg">
                <h6>Member Name</h6>
              <p>கணபதி, பொள்ளாச்சி</p>          
            </div>
            <div class="col-xl-4 userinfo">
              <p>21.01.2019</p>
            </div>
          </div>  
        </a>
        <a href="#">
          <div class="memberdetails">
              <div class="col-xl-8 userimg">
                  <h6>Member Name</h6>
                <p>கணபதி, பொள்ளாச்சி</p>          
              </div>
              <div class="col-xl-4 userinfo">
                <p>21.01.2019</p>
              </div>
            </div>
            </a>
          <div class="viewmore">
            <a href="#">View More...</a>       
          </div>
    </div>
    
  </div>
  <div class="col-xl-4 col-lg-6 col-12">
      <h3 class="heading-small">நிகழ்வுகள்</h3>
    <div class="new_memberlist">        
        <div class="memberdetails">
            <div class="col-xl-12 userimg">
                <h6 class="eventname">நிகழ்வு பெயர்</h6>
                <p class="user_date">12.01.2019</p>
                <p>இடம் : பொள்ளாச்சி</p>         
            </div>            
          </div>  
      <div class="memberdetails">
        <div class="col-xl-12 userimg">
            <h6 class="eventname">நிகழ்வு பெயர்</h6>
            <p class="user_date">23.01.2019</p>  
            <p>இடம் : கோயம்புத்தூர்</p>        
        </div>       
        </div>
        <div class="memberdetails">
          <div class="col-xl-12 userimg">
              <h6 class="eventname">நிகழ்வு பெயர்</h6>
              <p class="user_date">21.01.2019</p>    
              <p>இடம் : சேலம்</p>      
          </div>          
          </div>
          <div class="memberdetails">
            <div class="col-xl-12 userimg">
                <h6 class="eventname">நிகழ்வு பெயர்</h6>
                <p class="user_date">12.01.2019</p>
                <p>இடம் : நாமக்கல்</p>         
            </div>            
          </div>            
          <div class="viewmore">
            <a href="#">View More...</a>       
          </div>
    </div>
    
  </div>
  </div>
</div>
