<!-- <div class="Gallery-Section">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="width:100px;height:100px;"></ngx-gallery>
</div> -->
<div class="Gallery-Section">
        <div class="side-heading">
            <h3>புகைப்பட தொகுப்பு</h3>
        </div>       
        <div class="row gallery-list">
            <div class="gallery_image col-md-3">
                <a class="lightbox" href="gallery-list#1">
                    <img src="../../../assets/images/1.jpg"/>
                    <h3 class="image-title">Image Title</h3>
                </a> 
                <div class="lightbox-target" id="1">
                    <img src="../../../assets/images/1.jpg"/>
                    <a class="lightbox-close" href="gallery-list"></a>
                </div>            
            </div>
            <div class="gallery_image col-md-3">
                <a class="lightbox" href="gallery-list#2">
                    <img src="../../../assets/images/2.jpg"/>
                    <h3 class="image-title">Image Title</h3>
                </a> 
                <div class="lightbox-target" id="2">
                    <img src="../../../assets/images/2.jpg"/>
                    <a class="lightbox-close" href="gallery-list"></a>
                </div>            
            </div>
            <div class="gallery_image col-md-3">
                <a class="lightbox" href="gallery-list#3">
                    <img src="../../../assets/images/3.jpg"/>
                    <h3 class="image-title">Image Title</h3>
                </a> 
                <div class="lightbox-target" id="3">
                    <img src="../../../assets/images/3.jpg"/>
                    <a class="lightbox-close" href="gallery-list"></a>
                </div>            
            </div>
            <div class="gallery_image col-md-3">
                <a class="lightbox" href="gallery-list#4">
                    <img src="../../../assets/images/4.jpg"/>
                    <h3 class="image-title">Image Title</h3>
                </a> 
                <div class="lightbox-target" id="4">
                    <img src="../../../assets/images/4.jpg"/>
                    <a class="lightbox-close" href="gallery-list"></a>
                </div>            
            </div>            
        </div>
        <div class="row gallery-list">
                <div class="gallery_image col-md-3">
                    <a class="lightbox" href="gallery-list#5">
                        <img src="../../../assets/images/5.jpg"/>
                        <h3 class="image-title">Image Title</h3>
                    </a> 
                    <div class="lightbox-target" id="5">
                        <img src="../../../assets/images/5.jpg"/>
                        <a class="lightbox-close" href="gallery-list"></a>
                    </div>            
                </div>
                <div class="gallery_image col-md-3">
                    <a class="lightbox" href="gallery-list#6">
                        <img src="../../../assets/images/6.jpg"/>
                        <h3 class="image-title">Image Title</h3>
                    </a> 
                    <div class="lightbox-target" id="6">
                        <img src="../../../assets/images/6.jpg"/>
                        <a class="lightbox-close" href="gallery-list"></a>
                    </div>            
                </div>
                <div class="gallery_image col-md-3">
                    <a class="lightbox" href="gallery-list#7">
                        <img src="../../../assets/images/7.jpg"/>
                        <h3 class="image-title">Image Title</h3>
                    </a> 
                    <div class="lightbox-target" id="7">
                        <img src="../../../assets/images/7.jpg"/>
                        <a class="lightbox-close" href="gallery-list"></a>
                    </div>            
                </div>
                <div class="gallery_image col-md-3">
                    <a class="lightbox" href="gallery-list#1">
                        <img src="../../../assets/images/1.jpg"/>
                        <h3 class="image-title">Image Title</h3>
                    </a> 
                    <div class="lightbox-target" id="1">
                        <img src="../../../assets/images/1.jpg"/>
                        <a class="lightbox-close" href="gallery-list"></a>
                    </div>            
                </div>            
            </div>
        <!-- <div class="row gallery-list">
                <div class="gallery_image col-md-3">
                <img mat-card-image class="img" src="../../../assets/images/1.jpg">
                </div>
                <div class="gallery_image col-md-3">
                <img mat-card-image class="img" src="../../../assets/images/2.jpg">
                </div>
                <div class="gallery_image col-md-3">
                <img mat-card-image class="img" src="../../../assets/images/3.jpg">
                </div>
                <div class="gallery_image col-md-3">
                <img mat-card-image class="img" src="../../../assets/images/4.jpg">
                </div>
            </div> -->
      </div>