.Header_Section .main_header
{
    width:100%;
    padding:0;
    margin:0;
}
.Header_Section .side-bar
{
    /* background:#e3efde; */
    float: left;    
}
.Header_Section .side-bar img
{
    height: 56px;
    float: right;
}
.Header_Section .logo
{
    text-align: left;
    padding: 2px 0px 0px 20px;
    /* background: #d8e4d0; */
    background: #e3efde;
}
.Nav_Section
{
    background: #345675; 
    box-shadow:1px 5px 5px 1px #b0c7c9;
    /* overflow-y: auto; */
}
.Nav_Section .nav_menu
{
   text-align: left;
}
.Nav_Section .side_nav
{
    width:100%;  
    box-shadow:0px 1px 4px 1px #b0c7c9; 
}
.Nav_Section .side_nav ul li a
{
    /* color: #404E67; */
    color:#DEEDDF;
    text-align: left;
    text-decoration: none;
    font-size: 13px;
}
.Nav_Section .side_nav ul a
{
    /* color: #404E67; */
    color:#DEEDDF;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
}

.Nav_Section .side_nav ul a li:hover
{
    border-left:3px solid #f00;
    border-right:3px solid #f00;
    color:#ffffff;
    margin-left:2px;
    background:#07A00A;
}
.active
{
    border-left:3px solid #f00;
    border-right:3px solid #f00;
    color:#ffffff;
    margin-left:2px;
    background:#07A00A;
}
.Nav_Section .side_nav ul
{
    margin: 0;
    padding: 0;
}
.Nav_Section .side_nav ul li
{
    list-style-type:none;
    padding:10px 0px 10px 15px;
}
.side_header
{
    flex: 0 0 80%;
    max-width: 78%;
}
.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 12px;  
    border: none;
    outline: none;
    color:#DEEDDF;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width:100%;
    text-align: left;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #07A00A;
    border-left:3px solid #f00;
    border-right:3px solid #f00;
  }
.dropdown i {
    float: right;
}
.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #345675;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    margin-left:15px;     
} 
.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content a:hover {
    background-color: #07A00A;
    border-left:3px solid #f00;
    border-right:3px solid #f00;
}  
.dropdown:hover .dropdown-content {
    display: block;
}
.right-icon
{
    float: right;
}
.right-icon i{
    font-size: 20px;
    color:#345675;
    padding-top:15px;
}
.right-icon a{
    padding-left:40px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #345675;
}
.notify
{
    background: #07A00A;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    top: 10px;
    position: absolute;
    font-size: 11px;
    padding: 2px 3px 2px 3px;
    width: 20px;
    height: 20px;
}
.notify-content
{
   width:100%;
   float: left;
}
.notify-timing
{
    color:#9ca29d;
    font-size: 10px;
}
.frm-lbl
{
    width: 28%;
    float: left;
    font-size: 12px;
    text-align: left;
}
.frm-input
{
    width: 72%;
    float: left;    
}
.frm-field ng-select
{    
    width:80%;
    font-size: 12px;
    text-align: left;    
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.ng-select.NgSelect {
    border:0px;
    min-height: 0px;
    border-radius: 0;
    line-height:25px;
    text-align:left;
 }
 .ng-select.NgSelect .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
 }
 .ng-select.ng-select-single .ng-select-container
 {
    margin-left: 31px !important;
 }
 .ng-select.NgSelect .ng-select-container:hover{
    box-shadow: none;
 }
 .ng-select.NgSelect .ng-dropdown-panel.ng-select-top{
    left:0px;
 }
 .ng-select.NgSelect .ng-dropdown-panel.ng-select-bottom{
    border-radius: 0px;
    border: 1px solid #e2e2e2;
    box-shadow: 2px 2px 7px 0px #00000042;
    left:0px;
 }
 .ng-select.NgSelect .ng-dropdown-panel .ng-dropdown-panel-items{
    margin: 0px;
 }
 .ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child{
    border-radius: 0px;
 }
 .ng-select.NgSelect .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #4ab65f;
    color: #fff;
    font-size: 12px !important;
 }
 .ng-select.NgSelect .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #516570;    
    font-size: 12px !important;
 }
 .ng-select.NgSelect.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
    border-color:#e2e2e2;
    font-size: 12px !important;
    box-shadow: none;
 }
 .ng-select.NgSelect.ng-invalid.ng-touched .ng-select-container {
    border-color: rgb(221, 10, 10);
    box-shadow: none;
 }
 .ng-select.NgSelect.ng-valid.ng-touched.ng-dirty .ng-select-container {
    border-color: #4ab65f;
    box-shadow: none;
 }
 .ng-select.NgSelect.ng-select-single .ng-select-container .ng-value-container .ng-value{
    font-size: 14px;
    font-weight: 400;
    color: #516570;
 }
 .ng-select.DisabledHide.ng-select-single .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    display: none;
 }
 .ng-select .ng-select-container .ng-value-container .ng-placeholder
 {
     font-size: 12px !important;
 }
 
 
 /* Multiple Select */
 .ng-select-multiple.NgSelect .ng-select-container{
    height: auto;
    min-height: 37px;
  }
 .ng-select.ng-select-multiple.NgSelect .ng-select-container .ng-value-container{
    padding-left: 5px;
    padding-top: 5px;
 }
 .ng-select.ng-select-multiple.NgSelect .ng-select-container .ng-value-container .ng-value{
    font-size: 0.9em;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border: 1px solid #4e6a7a75;
    padding: 3px 7px;
    letter-spacing: 0.2px;
    border-radius: 25px;
 }
 .ng-select.ng-select-multiple.NgSelect .ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
    font-weight: 800;
    font-size: 17px;
    line-height: 17px;
    height: 21px;
    color: #8f8f8f;
    margin: 0px;
    float: right;
    border-radius: 20px;
    background-color: #d8d8d8;
 }
 .ng-select.ng-select-multiple.NgSelect .ng-select-container .ng-value-container .ng-value .ng-value-label{
    display: inline-block;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #4e6a7a;
    letter-spacing: 0.4px;
    padding-right: 5px;
 }
 .language_select
 {
    width: 200px;
    float: left;
    margin-top:6px;
 }
 .notification-detail
 {
    float: left;
    width: 200px;
    margin-left: 80px;
 }
 .engmenu a
 {
     font-size: 15px !important;
 }
 .engmenu .dropdown button
 {
    font-size: 15px !important;
 }
 .engmenu .dropdown .dropdown-content a
 {
    font-size: 15px !important;
 }