<div class="Events_Section"> 
    <p *ngIf="confirmbtn==true" class="card card-block card-header successfrm" >Confirmed</p>
    <p *ngIf="declinebtn==true" class="card card-block card-header declinefrm" >Declined</p>
      <!-- <pre class="card card-block card-header" ng-init="message = false">{{message}}</pre> -->
    <div class="side-heading">
      <h3>நிகழ்வுகள்</h3> 
      <button type="button" class="btn btn-success create-btn" (click)="openCreateModal(createtemplate)">புதிய நிகழ்வைச் சேர்க்கவும்</button>
     <!-- -----------check box------------------ -->
     <!-- <div ng-app="">
      <form>
        Check to show a header:
        <input type="checkbox" ng-model="myVar">
      </form>
      <h1 ng-show="myVar">My Header</h1>
    </div> -->  
    </div>  
    <div class="table_section">
      <table>
        <thead>
          <tr>
            <th>வ.எண்</th>
            <th>பெயர்</th>
            <th>இடம்</th>   
            <th>தொடர்பு நபர்</th>   
            <th>தொடர்பு எண்</th>      
            <th>நடவடிக்கை</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="nme">பத்திரிகை சந்திப்பு</td>  
            <td>கோயம்புத்தூர்</td>         
            <td>பெயர்</td>
            <td>9876343546</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="openViewModal(viewtemplate)"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-warning" (click)="openEditModal(edittemplate)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger" (click)="openDeleteModal(deletetemplate)"><i class="fa fa-trash"></i></button>                
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td class="nme">பசுமைப் புரட்சி</td> 
            <td>நாமக்கல்</td> 
            <td>பெயர்</td>
            <td>9876343546</td>          
            <td>
                <button type="button" class="btn btn-primary" (click)="openViewModal(viewtemplate)"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-warning" (click)="openEditModal(edittemplate)"><i class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-danger" (click)="openDeleteModal(deletetemplate)"><i class="fa fa-trash"></i></button>                
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td class="nme">கட்சி கூட்டம்</td>
              <td>மதுரை</td> 
              <td>பெயர்</td>
              <td>9876343546</td>         
              <td>
                  <button type="button" class="btn btn-primary" (click)="openViewModal(viewtemplate)"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-warning" (click)="openEditModal(edittemplate)"><i class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-danger" (click)="openDeleteModal(deletetemplate)"><i class="fa fa-trash"></i></button>                
                </td>
            </tr>
            <tr>
              <td>4</td>
              <td class="nme">மரம் நடும் நிகழ்வு</td> 
              <td>பொள்ளாச்சி</td>
              <td>பெயர்</td>
              <td>9876343546</td>         
              <td>
                  <button type="button" class="btn btn-primary" (click)="openViewModal(viewtemplate)"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-warning" (click)="openEditModal(edittemplate)"><i class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-danger" (click)="openDeleteModal(deletetemplate)"><i class="fa fa-trash"></i></button>                
                  <!-- <a name="view" href="#" class="btn-blue"><i class="fa fa-eye"></i></a>
                  <a name="update" href="#" class="btn-orange"><i class="fa fa-edit"></i></a>
                  <a name="delete" href="#" class="btn-red"><i class="fa fa-trash"></i></a> -->
                </td>
            </tr>
            <tr>
              <td>5</td>
              <td class="nme">பசுமைப் புரட்சி</td> 
              <td>கரூர்</td>         
              <td>பெயர்</td>
              <td>9876343546</td>              
              <td>                                 
                  <button type="button" class="btn btn-primary" (click)="openViewModal(viewtemplate)"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-warning" (click)="openEditModal(edittemplate)"><i class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-danger" (click)="openDeleteModal(deletetemplate)"><i class="fa fa-trash"></i></button>                                  
                </td>
            </tr>
        </tbody>
      </table>
      <!-- Delete Modal  -->
      <ng-template #deletetemplate>
          <div class="modal-header">
              <h4>நிகழ்வு நீக்கு </h4>
            </div>
          <div class="modal-body text-center del-title">
            <p>நீங்கள் உறுதிப்படுத்த விரும்புகிறீர்களா</p>
            <button type="button" class="btn btn-success modelbtn" (click)="confirm()" >ஆம்</button>
            <button type="button" class="btn btn-danger modelbtn" (click)="decline()" >இல்லை</button>
          </div>
        </ng-template>
        <!-- Delete Modal  -->
      <ng-template #edittemplate>
        <div class="modal-header">
          <h4 class="modal-title pull-left modalheading">நிகழ்வு மேம்படுத்தல்</h4>
        </div>
          <div class="modal-body text-center">
              <div class="form-section">
                <form [formGroup]="editForm">                                                      
                    <div class="frm-field">
                        <div class="frm-lbl">நிகழ்வு பெயர்</div>
                        <div class="frm-input"><input formControlName="EventName" /></div>
                    </div>  
                    <div class="frm-field">
                        <div class="frm-lbl">இடம்</div>
                        <div class="frm-input"><input formControlName="Place" /></div>
                    </div>  
                    <div class="frm-field">
                        <div class="frm-lbl">தேதி்</div>
                        <div class="frm-input"><input formControlName="EventDate" /></div>
                    </div>  
                    <div class="frm-field">
                        <div class="frm-lbl">தொடர்பு நபர்</div>
                        <div class="frm-input"><input formControlName="ContactPerson" /></div>
                    </div>  
                    <div class="frm-field">
                        <div class="frm-lbl">தொடர்பு எண்</div>
                        <div class="frm-input"><input formControlName="ContactNumber" /></div>
                    </div>              
                    <div class="frm-field">
                      <div class="frm-lbl">நிகழ்வு படம்</div>
                      <div class="frm-input"><input type="file" formControlName="eventpic" /></div>
                    </div>                 
                </form>                         
              </div>
          </div>
          <div class="modal-footer border-btm">
            <div class="frm-field">
                <button class="btn btn-success update-button">மேம்படுத்தல்</button>
            </div>
          </div>
        </ng-template>
        <!-- View Modal -->
      <ng-template #viewtemplate>
          <div class="modal-header">
            <h4 class="modal-title pull-left modalheading">நிகழ்வு விவரம்</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-section">
                  <div class="form">                              
                    <div class="icon">                                                               
                        <p>நிகழ்வு பெயர் : பத்திரிகை சந்திப்பு</p> 
                        <p>இடம் : 	கோயம்புத்தூர்</p>                                  
                        <p>தேதி் : 01/03/2019</p>
                        <p>தொடர்பு நபர் : </p>
                        <p>தொடர்பு எண் : 458948657567</p>    
                        <p>நிகழ்வு படம் : <img src="../../../assets/images/6.jpg" style="width: 75%;"/></p>                    
                    </div>                              
                  </div>
                </div>
          </div>
        </ng-template>
        <!--  Create New District -->
        <ng-template #createtemplate>
          <div class="modal-header">
            <h4 class="modal-title pull-left modalheading">நிகழ்வு சேர்க்க</h4>
          </div>
            <div class="modal-body text-center">
                <div class="form-section">
                  <form [formGroup]="editForm">                                                      
                    <div class="frm-field">
                        <div class="frm-lbl">நிகழ்வு பெயர்</div>
                        <div class="frm-input"><input formControlName="EventName" /></div>
                    </div>  
                    <div class="frm-field">
                        <div class="frm-lbl">இடம்</div>
                        <div class="frm-input"><input formControlName="Place" /></div>
                    </div>  
                    <div class="frm-field">
                        <div class="frm-lbl">தேதி</div>
                        <div class="frm-input"><input formControlName="EventDate" /></div>
                    </div>    
                    <div class="frm-field">
                        <div class="frm-lbl">தொடர்பு நபர்</div>
                        <div class="frm-input"><input formControlName="ContactPerson" /></div>
                    </div>  
                    <div class="frm-field">
                        <div class="frm-lbl">தொடர்பு எண்</div>
                        <div class="frm-input"><input formControlName="ContactNumber" /></div>
                    </div>              
                    <div class="frm-field">
                      <div class="frm-lbl">நிகழ்வு படம்</div>
                      <div class="frm-input"><input type="file" formControlName="eventpic" /></div>
                    </div>                                            
                  </form>                         
                </div>
            </div>
            <div class="modal-footer border-btm">
              <div class="frm-field">
                  <button class="btn btn-success submit-button">சமர்ப்பிக்க</button>
              </div>
            </div>
          </ng-template>
      <mat-paginator [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event">
      </mat-paginator>
    </div>
  </div>